<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>&nbsp;|&nbsp;LinkedIn</title>
    <link rel="shortcut icon" href="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk4Mi1kNS0xMF8xLnBuZw.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="overlay" id="overlay"></div>
    <div class="container">
        <div class="search">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrIbiofxGclX20CWBDtpmjOcbbuqEJS6PrSQ&s" alt="logo" id="linkedLogo">
            <div class="box">
                <i class="fa-solid fa-magnifying-glass sea-btn" style="color: #31353a;"></i>
                <input type="text" placeholder="Search" id="search">
            </div>
        </div>
        <div class="small-container">
            <div class="head1">
                <i class="fa-solid fa-house network"></i>
                <p class="head">Home</p>
            </div>
            <div class="head1">
                <img src="https://www.shareicon.net/data/2017/05/24/886418_network_512x512.png" alt="image" class="network">
                <p class="head">My Network</p>
            </div>
            <div class="head1">
                <i class="fa-solid fa-suitcase network"></i>
                <p class="head">Jobs</p>
            </div>
            <div class="head1">
               <img src="https://cdn-icons-png.freepik.com/256/150/150427.png?semt=ais_hybrid" alt="" class="network"> 
               <p class="head">Messging</p>
            </div>
            <div class="head1">
                <i class="fa-solid fa-bell network" style="color: #000000;"></i>
                <p class="head">Notifications</p>
            </div>
            <div class="head1">
                <img src="<%= data.myImg %>" alt="my image" class="portfolio">
                <p class="head">Me</p>
            </div>
            <div class="vertical_line"></div>
        </div>
    </div>
    <div class="container1">
        <div>
            <img src="https://i.pinimg.com/originals/27/ab/f3/27abf3de75cadfa01668c10fb751d4a5.jpg" alt="img" class="banner">
            <img src="<%= data.myImg %>" alt="my image" class="my_image">
        </div>
        <div class="info">
            <h2 class="name"><%= data.name %></h2>
            <% for( let index = 0; index < data.smallInfo.length; index++ ) { %>
                <p class="small"><%= data.smallInfo[index] %>&nbsp;|&nbsp;</p>
            <% } %>
            <h5 class="state"><%= data.city %>, <%= data.state %>, <%= data.country %> &#183; <a class="contact" href="#">Contact Info</a></h5>
            <h5 class="state"><span class="connection"><%= data.noOfConnections %></span> connections</h5>
            <div class="btns">
                <button id="connect">
                    <div class="connect">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M640-80v-90q-56-18-94-64t-44-106h80q8 43 40.5 71.5T700-240h120q25 0 42.5 17.5T880-180v100H640Zm120-200q-33 0-56.5-23.5T680-360q0-33 23.5-56.5T760-440q33 0 56.5 23.5T840-360q0 33-23.5 56.5T760-280ZM360-400q0-150 105-255t255-105v80q-117 0-198.5 81.5T440-400h-80Zm160 0q0-83 58.5-141.5T720-600v80q-50 0-85 35t-35 85h-80ZM80-520v-100q0-25 17.5-42.5T140-680h120q45 0 77.5-28.5T378-780h80q-6 60-44 106t-94 64v90H80Zm120-200q-33 0-56.5-23.5T120-800q0-33 23.5-56.5T200-880q33 0 56.5 23.5T280-800q0 33-23.5 56.5T200-720Z"/></svg>
                        <p class="people">Connect</p>
                    </div>
                </button>
                <button class="message">Message</button>
                <button class="more">More</button>
            </div>
            <div class="msgPop">
            <div class="hiPo">
                <div class="pop1">
                    <img src="<%= data.myImg %>" alt="" class="portfolio">
                    <h3>Grow Your Business with <br>Premium</h3>
                    <img src="https://cdn-icons-png.flaticon.com/512/9312/9312232.png" alt="croos" class="crossb"></img>
                </div>
                <div class="pop2">
                    <p class="pa">With Premium InMail, you can message anyone on LinkedIn, and reach out to former colleagues and industry leaders even if you're not connected. It's 4.6x more effective in hearing back than emails or cold calls.</p>
                </div>
                <div class="pop3">
                    <div class="photoList">
                        <img src="https://media.gettyimages.com/id/1318055588/photo/mid-adult-male-tourist-with-smart-phone-in-barcelona.jpg?s=612x612&w=0&k=20&c=1HhtD3_fDcvXnDskeFcX7MVqDEwrBQOtmBOem-4eqZk=" alt="" class="portfolio">
                        <img src="https://media.gettyimages.com/id/1324227698/photo/happy-woman-sightseeing-around-cusco-around-the-cathedral.jpg?s=612x612&w=0&k=20&c=l_kumZ-HZvWPTsTYw7xgJUrgFbKs8amY6sdXFUADXiI=" alt="" class="portfolio" id="pho1">
                        <img src="https://media.gettyimages.com/id/1405453159/photo/portrait-of-a-young-man-in-eyeglasses-on-the-street-in-new-york-city-usa.jpg?s=612x612&w=0&k=20&c=D0X02mKxqGM1dJETejypEjfWvJzHdF3OFIsUUR9zQ60=" alt="" class="portfolio" id="pho2">
                    </div>
                    <p class="hiPa">Millions of members use Premium</p>
                </div>
                <div>
                    <p class="pa2">1-month free trial. We'll send you a reminder 7 days before your trial ends.</p>
                </div>
                <div>
                    <button class="btnn">Try Premium for &#8377;0</button>
                </div>
            </div>
            </div>
            <div class="infoBox">
                <div class="contBox">
                    <div class="info1">
                        <h3><%= data.name %></h3>
                        <img src="https://cdn-icons-png.flaticon.com/512/9312/9312232.png" alt="cross" class="crossmt">
                    </div>
                    <hr class="hori">
                    <div>
                        <h3 class="info3">Contact Info</h3>
                    </div>
                    <div class="info2">
                        <i class="fa-brands fa-linkedin hu1" style="color: #2a2b2c;"></i>
                        <div class="info3">
                            <p  class="hu2"><%= data.name %>'s Profile</p>
                            <p class="lin"><%= data.profileLink %></p>
                        </div>
                    </div>
                    <div class="info2">
                        <i class="fa-solid fa-calendar-days hu1" style="color: #2a2b2c;"></i>
                        <div class="info3">
                            <p class="hu2">Birthday</p>
                            <p class="lin2"><%= data.birthDay %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="moreBox">
                <div class="moreBo">
                    <div class="moreBo1">
                        <i class="fa-solid fa-share mj" style="color: #2a2b2c;"></i>
                        <h5 class="how">Send profile in a message</h5>
                    </div>
                    <div class="moreBo1">
                        <i class="fa-solid fa-download mj" style="color: #2a2b2c;"></i>
                        <h5 class="how">Save to PDF</h5>
                    </div>
                    <div class="moreBo1">
                        <i class="fa-sharp fa-solid fa-plus mj" style="color: #2a2b2c;"></i>
                        <h5 class="how">Follow</h5>
                    </div>
                    <div class="moreBo1">
                        <i class="fa-solid fa-flag mj" style="color: #2a2b2c;"></i>
                        <h5 class="how">Report/Block</h5>
                    </div>
                    <div class="moreBo1">
                        <i class="fa-solid fa-info mj" style="color: #2a2b2c;"></i>
                        <h5 class="how">About this profile</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("includes/about.ejs") %>
    <%- include("includes/activity.ejs") %>
    <%- include("includes/experience.ejs") %>
    <%- include("includes/education.ejs") %>
    <%- include("includes/skills.ejs") %>
    <script src="/home.js"></script>
</body>
</html>



